<!-- <div class="hero">
    <nav>
        <img src="assets/Images/logo.png" class="logo" alt="">
        <ul>
            <li><a href="#">features</a></li>
            <li><a href="#">how it works</a></li>
            <li><a href="#">privacy</a></li>
        </ul>
        <div>
            <a href="#" class="login-btn">login</a>
            <a href="#" class="btn">download app</a>
        </div>
    </nav>
    <div class="content">
        <h1 class="anim">make <br> new friends</h1>
        <p class="anim">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore quam impedit nesciunt totam facere incidunt maiores voluptatibus eligendi obcaecati veritatis?</p>
        <a class="anim" href="#" class="btn anim">join now</a>
    </div>
    <img src="/assets/Images/pic.png" class="feature-img anim" alt="">
</div> -->


 <div class="container-fluid main-container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 nav d-flex p-2 justify-content-between">
            <div class="imgcontainer">
                <img src="/assets/Images/shubh.png" alt="logo">
            </div>
            <div class="btn-container">
                <button class="btn login px-4 text-dark">Login</button>
                <button class="btn join px-4 ">Join Now</button>
            </div>
        </div>
        <div class="content w-50 ">
            <h1 class="fw-bold text-center p-4">Best matrimony site used by millions of members worldwide</h1>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-lg-12 col-md-12 col-sm-12 me-3 p-3"
                style="box-shadow: 2px 2px 15px rgb(254, 188, 33); height: fit-content; width: 400px; display: flex; justify-content: center; align-items: center; margin-top: 125px; background-color: rgba(255, 255, 255, 0.5);">
                <img src="/assets/Images/50years.png" alt="50 years Logo"
                    style="height: 100px; padding: 2px; width: 130px; ">
                <h3 class="fs-3 fw-bold">Best Matchmaking and Matrimonial Services</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="text-center">
        <button  class="btn border px-4 py-1 trademark mt-2">
            <a style="text-decoration: none; color: #333;" routerLink="/trademark">SHADI® trademark notice</a>
        </button>
    </div>
</div>
<div class="container-fluid mt-4 d-flex justify-content-evenly">
    <div class="row card-container">
        <div class="col-lg-4 col-md-6 col-sm-6 px-2 py-1">
            <div class="card px-3 py-2" style="width: 18rem;">
                <img src="/assets/Images/people-icons.png" class="card-img-top" alt="people-icon">
                <div class="card-body">
                    <p class="card-text p-4"><span style="display:block;">Millions of people register on Shadi.com
                            looking for someone special. This site is for serious singles.</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 px-2 py-1">
            <div class="card px-3 py-2" style="width: 18rem;">
                <img src="/assets/Images/education-icon.png" class="card-img-top" alt="education-icon">
                <div class="card-three">
                    <p class="card-text p-4"><span style="display:block;">80% of our members are highly educated. Most
                            of them are successful professionals in their selected fields.</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 px-2 py-1">
            <div class="card px-3 py-2" style="width: 18rem;">
                <img src="/assets/Images/technology-icon.png" class="card-img-top" alt="technology-icon">
                <div class="card-body">
                    <p class="card-text p-4"><span style="display:block;">Shadi.com uses a smart matchmaking system. We
                            present you matches based on current location, education level &amp; lifestyle
                            choices.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4 d-flex flex-column justify-content-center align-items-center">
    <h1 id="heading" class="fw-bold p-4 fst-italic">BROWSE MATRIMONIAL
        PROFILES</h1>
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-sm-6 px-2 py-1">
            <div class="card px-3 py-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">STATES</h5>
                    <p class="card-text"><a>California</a> | <a>New york</a> | <a>Texas</a> | <a>New Jersey</a> |
                        <a>Virginia</a> | <a>Illinoios</a> | <a>Florida</a> | <a>Pennsylvania</a> | <a>Michigan</a> |
                        <a>Georgia</a>
                    </p>
                    <button class="btn px-3 py-2">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 px-2 py-1">
            <div class="card px-3 py-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">INTERNATIONAL</h5>
                    <p class="card-text"><a>United States</a> | <a>Canada</a> | <a>United Kingdom</a> | <a>Australia</a>
                        | <a>India</a> | <a>UAE Pakistan</a> | <a>Switzerland</a> | <a>France</a> | <a>Nethreland</a> |
                        <a>Singapore</a>
                    </p>
                    <button class="btn px-3 py-2">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 px-2 py-1">
            <div class="card px-3 py-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">RELIGION</h5>
                    <p class="card-text"><a>Hindu</a> | <a>Muslim</a> | <a>Christian</a> | <a>Sikh</a> | <a>Budhist</a>
                        | <a>Jain</a></p>
                    <button class="btn px-3 py-2">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 px-2 py-1">
            <div class="card px-3 py-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">CASTE</h5>
                    <p class="card-text"><a>Agarwal</a> | <a>Arora</a> | <a>Brahmin</a> | <a>Gupta</a> | <a>Khatri</a> |
                        <a>Iyer</a> | <a>Kayastha</a> | <a>Maratha</a> | <a>Rajput</a> | <a>Sunni</a> | <a>Swetamber</a>
                    </p>
                    <button class="btn px-3 py-2">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row prime">
        <div class="col-lg-12 col-md-6 col-sm-12">
            <div>
                <h1 class="text-light m-auto mt-3 w-50 text-center" style="box-shadow: 6px 5px 15px black;">PERSONALIZED
                    MATCHMAKING FOR BUSY PROFESSIONALS</h1>
            </div>
            <div class="text-center d-flex justify-content-evenly align-items-center mt-3">
                <div class="d-flex flex-column justify-content-center align-items-center ">
                    <h3 class="text-light text-center" style="text-shadow: 2px 2px 10px white;">PRIME ASSIST</h3>
                    <div class="prime-card bg-light me-4 bg-dark text-light">
                        <img src="/assets/Images/prime-girl.jpg" alt="">
                        <p class="card-text  mt-2">This service is for those members who want personal
                            matchmaking using whatsapp service. Prime Assist is best for people who want an Introduction
                            service with no emails flooding their mailbox.</p>
                        <div class="d-flex justify-content-evenly align-items-center text-center mt-3">
                            <button class="btn text-light mb-3 px-3 py-2">Read More</button>
                            <button class="btn  text-light mb-3 px-3 py-2">Join Now</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h3 class="text-light text-center" style="text-shadow: 2px 2px 10px white;">PRIME PLUS</h3>
                    <div class="prime-card bg-light d-flex flex-column justify-content-between bg-dark">
                        <img src="/assets/Images/prime-couple.jpg" alt="">
                        <p class="card-text text-light ">Your customized membership at Prime Plus is a unique concept.We
                            offer you a discreet personalized approach. We do the search for you and introduce you to
                            selected potential matches.
                        </p>
                        <div class="d-flex justify-content-evenly align-items-center text-center">
                            <button class="btn text-light mb-3 px-3 py-2">Read More</button>
                            <button class="btn text-light mb-3 px-3 py-2">Join Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid row matchmaker mt-4">
    <div class="col-lg-4 col-mg-6 col-sm-6">
        <h5 class="fst-italic text-center text-secondary">Relationship Advise</h5>
        <div class="card card-match" style="width: 360px; height: 380px; margin-top: 10px;">
            <img src="/assets/Images/blog1.jpg" class="card-img-top"
                style="width: inherit; height: 180px; border-radius: 10px;" alt="...">
            <div class="card-body">
                <p class="card-text px-3 py-1">Here we have experts who work hard to write blogs on relationships,
                    marriage, dating and finding love, giving you vista and motivation to have a great love life.
                    Following these tips and advice can Nowadays, people find their love by socializing, traveling or
                    using a dating app.</p>
                <a href="#" class="btn text-primary text-end">read more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-mg-6 col-sm-6">
        <h5 class="fst-italic  text-center text-secondary">Find Someone Special Near You</h5>
        <div class="card card-match" style="width: 360px; height: 380px; margin-top: 10px;">
            <img src="/assets/Images/blog2.jpg" class="card-img-top"
                style="width: inherit; height: 180px; border-radius: 10px;" alt="...">
            <div class="card-body">
                <p class="card-text px-3 py-1">Connect with your soul mate that can be nearby or within your city. Our
                    members are committed to looking for long-term healthy relationships. This platform will help you to
                    find love and give you a taste of meaningful connection.</p>
                <a href="#" class="btn text-primary">read more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-mg-6 col-sm-6">
        <h5 class="fst-italic text-center text-secondary">Let A Matchmaker Help You</h5>
        <div class="card card-match" style="width: 360px; height: 425px; margin-top: 10px;">
            <img src="/assets/Images/blog3.gif" class="card-img-top"
                style="width: inherit; height: 180px; border-radius: 10px;" alt="...">
            <div class="card-body">
                <p class="card-text px-3 py-1">If you are a busy professional then it's time to think about a matchmaker
                    who can help you.There are various reasons to take help from a matchmaker.
                    <span>
                        <ul class="px-4">
                            <li>Discrete and private</li>
                            <li>Save times</li>
                            <li>Personalized service</li>
                            <li>Dedicated matchmaker</li>
                            <li>Meet commitment-minded singles</li>
                        </ul>
                    </span>
                </p>
                <a href="#" class="btn text-primary">read more</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid row mt-5 text-center">
    <div class="col-lg-12 col-md-6 col-sm-6 p-4 w-50 m-auto">
        <h2 class="text-center fst-italic" style="color: rgb(186, 1, 1);">MEET OUR MEMBERS - SUCCESSFUL
            PROFESSIONAL SINGLES</h2>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6 d-flex">
        <div class="card px-3 py-2" style="width: 35rem;   background: none; box-shadow: none;">
            <img src="/assets/Images/people-icons.png" class="card-img" alt="people-icon">
            <div class="card-data">
                <p class="card-text p-4"><span style="display:block;">We have members from all religions and ages. Our
                        most popular age group is from 27 - 60. Almost all our singles are successful professionals and
                        businessmen. Creating a great profile is essential in online matchmaking and adding your best
                        photo to your profile. We offer abundant tips and relationship advice through our blogs. It is
                        our passion to help you in the best possible way.</span></p>
            </div>
        </div>
        <div class="card px-3 py-2" style="width: 35rem; background: none; box-shadow: none;">
            <img src="/assets/Images/shield.png" class="card-img" alt="people-icon">
            <div class="card-data">
                <p class="card-text p-4"><span style="display:block;">Shadi.com is an international matchmaking
                        platform. Through which people can find love and long lasting relationships. Our profiles are
                        verified with cell phone and email verification. We make use of the latest technology for fraud
                        detention and SSL encryption. Non-active users are removed from our network. We are committed to
                        providing a safe web service for like-minded singles in your region.</span></p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid row mt-4" style="background: linear-gradient(white, rgb(253, 165, 33), white);">
    <h3 style="color: rgb(186, 1, 1);" class="fst-italic text-center">SUCCESS STORIES</h3>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card px-3 py-2" style="width: 30rem; background: none; box-shadow: none;">
            <div class="card-review">
                <p class="card-text p-4">
                    <span style="display:block;">
                        Renu joined Shadi.com after a strong suggestion
                        from her parents during the pandemic. Ishan caught her interest in her potential match list.
                        She
                        sent him a personal email and Ishan responded back. They exchanged emails, spoke on the
                        phone
                        and video chats for a couple of weeks. They both had similar interests, religious beliefs,
                        likes
                        and dislikes. They were both keen to meet in person and Ishan &amp; Renu had a great time in
                        their first meeting. They are now married in a romantic small wedding in
                        Seattle.
                    </span>
                    <br><br>Thanks
                    Shadi matchmaking<br><br><strong>Renu S - Seattle</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card px-3 py-2" style="width: 30rem; background: none; box-shadow: none;">
            <div class="card-review">
                <p class="card-text p-4">
                    <span style="display:block;">Last year after signing up for a 6 months term
                        with
                        Shadi.com. Had no luck initially for some weeks. Few months later I got matched with a
                        wonderful
                        and caring man.
                        <br><br>
                        At first I could not imagine or think it was possible to meet my partner on a site.
                        <br><br>
                        I am in the San Francisco Bay area with my fiance, soon to be married in the near future.
                        Never
                        give up hope on good things in life!
                        <br>
                        Thank you<br><br><strong>Marium S - San Francisco</strong>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card px-3 py-2" style="width: 30rem; background: none; box-shadow: none;">
            <div class="card-review">
                <p class="card-text p-4"><span style="display:block;">After joining Shadi.com for almost a year, I
                        found
                        a nice girl in Los Angeles who seemed to have the qualities that I wanted in a
                        partner.<br><br>She was everything that I could ask for in a match.<br><br>We first met
                        outside
                        Costa, because of Covid. Conversations continued for almost 6 months, now we are engaged!
                        Thinking of getting married in 2021.<br><br>Thank you Shadi.com for your
                        help.<br><br><strong>Gaurav S - Los Angeles</strong></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card px-3 py-2" style="width: 30rem; background: none; box-shadow: none;">
            <div class="card-review">
                <p class="card-text p-4"><span style="display:block;">I met my fiancé on Shadi.com. I came across her
                        profile, and messaged her instantly.<br><br> We soon began chatting every day. We are both
                        locals to the Delhi area, so we met up after chatting online for a month.<br><br>Soon, we
                        met
                        each other's families and decided to get engaged. We got married in Sydney with our family
                        looking on via Zoom in
                        India. Our wedding will take place next year.
                        <br>Thank you Shadi.com <br><br><strong>Ajeet S - Delhi</strong></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card px-3 py-2" style="width: 30rem; background: none; box-shadow: none;">
            <div class="card-review">
                <p class="card-text p-4"><span style="display:block;">My spouse Ankita and I were both living in
                        Australia when we were finally connected through Shadi.com. I was in Sydney while she was
                        living in Melbourne, shortly after matching, we had many phone conversations and video
                        chats, and Ankita decided to visit me in Sydney.<br><br>I proposed to her 4 months after our
                        initial meeting, and both our families were delighted. We could not travel to Delhi due to
                        COVID-19 restrictions. We got married in Sydney with our family looking on via Zoom in
                        India, and plan on having a big wedding in Delhi next year. Thank you Shadi.com.
                        <br><br><strong>Deepak V - Sydney</strong></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card px-3 py-2" style="width: 30rem; background: none; box-shadow: none;">
            <div class="card-review">
                <p class="card-text p-4">
                    <span style="display:block;">I met my husband through Shadi.com and we dated
                        for one year. We were both local to the Houston area, and went on many dates in the downtown
                        area. <br><br>Unfortunately, our wedding plans were disrupted by the COVID-19 pandemic.
                        However, we did not let this stop us and decided to have an intimate wedding ceremony.
                        <br><br>Both our families were present, and our wedding was even broadcast through zoom! All
                        in all we are so happy with how everything turned out. <br><br><strong>Samira C - Houston,
                            Texas</strong>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid row mt-5" style="background-color: rgb(227, 227, 227);">
    <h3 class="text-center p-4 w-25 m-auto" style="color: rgb(186, 1, 1);">SHADI.COM BEST ONLINE
        MATRIMONY SITE</h3>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 m-auto" style="width: 75%;">
            <img src="/assets/Images/shadi_short.png" alt="shadi short" style="height: 18px;">
            <span class="fst-italic">
                We have been making memorable memories through matchmaking for more than 20 years. It all began with
                creating many successful marriages for family and friends in upstate New York. To take the essence of
                matchmaking to the next level Shadi.com was created. Most important component of our network is that
                users
                find their match through our platform. We are proud to mention that millions of users have been impacted
                with our online marriage portal with happy endings. Our commitment lies in helping members meet someone
                special for long lasting relationship. Today, Shadi.com is known worldwide as one of the top
                introductions
                and matrimonial services provider. We are happy to welcome you to our matchmaking network and wish you
                success every step of the way.
            </span>
        </div>
    </div>
</div>