<div class="container-fluid p-4" style="margin-top: -23px; background-color: rgb(244, 241, 241);">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-4 w-75 m-auto ">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 ps-3">
                    <h6 style="font-weight: 600; border-bottom: 2px solid rgb(186, 1, 1); width: fit-content;">ABOUT
                        SHADI®
                    </h6>
                    <p class="text-start">
                        Shadi®.com is a registered and trademarked corporation based in the USA. We are a leading
                        international matchmaking company for singles globally. Through our network we want to make the
                        process of relationship journey relatively effortless. All profiles are checked manually with
                        phone
                        verification to ensure a safe environment for the users.
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 ps-5">
                    <h6 style="font-weight: 600; border-bottom: 2px solid rgb(186, 1, 1); width: fit-content;">NEED HELP
                    </h6>
                    <ul>
                        <li>Member Login</li>
                        <li>Shadi®101</li>
                        <li>Sign Up</li>
                        <li>Member Support</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 ps-5">
                    <h6 style="font-weight: 600; border-bottom: 2px solid rgb(186, 1, 1); width: fit-content;">COMPANY
                    </h6>
                    <ul>
                        <li>About Us</li>
                        <li>Blog</li>
                        <li>Helpful Tips</li>
                        <li>Submit Story</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 ps-5">
                    <h6 style="font-weight: 600; border-bottom: 2px solid rgb(186, 1, 1); width: fit-content;">PRIVACY &
                        YOU
                    </h6>
                    <ul>
                        <li>Terms of Use</li>
                        <li>Privacy Policy</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 ps-5">
                    <h6 style="font-weight: 600; border-bottom: 2px solid rgb(186, 1, 1); width: fit-content;">MORE</h6>
                    <ul class="list">
                        <li>Top Ranking Cities</li>
                        <li>Parent Involved</li>
                        <li>Intimate Cozy Wedding</li>
                        <li>Site Map</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mt-4 d-flex justify-content-around align-items-center"
            style="background-color: rgb(186, 1, 1); height: 150px;">
            <div style="width: 15%;">
                <h3 class="text-light text-center">Follow us on:</h3>
                <div class="d-flex justify-content-center align-items-center">
                    <img style="height: 30px; width: 40px;" src="/assets/Images/fb.png" alt="fb-logo">
                    <img style="height: 30px; width: 52px;" src="/assets/Images/ig.png" alt="ig-logo">
                    <img style="height: 25px; width: 35px;" src="/assets/Images/twitter.png" alt="twitter-logo">
                </div>
            </div>
            <div style="width: 35%;" class="text-end me-5">
                <p class="text-end text-light">SHADI® is a registered trademark and should not be used without
                    permission
                    ©Copyrights Shadi.com 1997 - 2024. All rights reserved. </p>
                <img src="/assets/Images/trademark.png" alt="trademark-logo">
            </div>
        </div>
    </div>