<!-- <div class="container m-auto my-3 backcolor content">
  <div class="container-fluid themecolor">
    <div class="row p-3">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <h1 class="text-center fw-bolder fs-1">Privacy & Policy</h1>
      </div>
    </div>
  </div>
  <div class="container home m-auto">
    <div class="row mt-3">
      <div class="col-lg-12 col-sm-12 col-md-12 py-3 px-3">
        <h4 class="fs-6"><a class="text-decoration-none themecolor" href="">Home</a> | <a
            class="text-decoration-none terms" href="">Privacy & Policy</a></h4>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="list-unstyled" *ngFor="let user of users">
      <li>
        <h3 class="themecolor ms-3 mt-3">{{user.section}}:</h3>
        <p class="text-left fw-light px-3 pt-2">{{user.content}}</p>
      </li>
    </ul>
  </div>
  <div class="container m-auto">
    <div class="row d-flex flex-column justify-content-between mt-4">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start align-items-center">
        <input class="ms-3" type="checkbox" name="" id="check"><label for="check" class="p-2 terms">I agree to the
          following terms and condtions</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 w-100 d-flex justify-content-center align-items-center my-3">
        <button class="rounded px-3 py-2 agree themecolor">Agree and continue</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="slider-wrapper">
  <div class="slider-container">
    <div class="icon-container">
      <div class="icon-inner-container">
        <a class="a-link-normal"
        href="/fmc/everyday-essentials&amp;ref_=in_cat_halo_mweb_bau_essentials/?_encoding=UTF8&amp;pd_rd_w=8A6yM&amp;content-id=amzn1.sym.ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_p=ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_r=DZECDNN5PCRQYJS4E61S&amp;pd_rd_wg=NBAGl&amp;pd_rd_r=de79bec9-b08e-4ca3-88d6-de6ae99a7e52&amp;ref_=pd_gwm_unk"><img
          alt="Essentials" src="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg"
          class="_feature-shortcut-gwm-card_style_iconImage__2uXiF _feature-shortcut-gwm-card_style_iconLifeStyleImage__36Sf7"
          data-a-hires="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg">
        <p class="_feature-shortcut-gwm-card_style_iconTitle__3Ptur">Essentials</p>
      </a>
      </div>
    </div>
    <div class="icon-container">
      <div class="icon-inner-container">
        <a class="a-link-normal"
        href="/fmc/everyday-essentials&amp;ref_=in_cat_halo_mweb_bau_essentials/?_encoding=UTF8&amp;pd_rd_w=8A6yM&amp;content-id=amzn1.sym.ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_p=ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_r=DZECDNN5PCRQYJS4E61S&amp;pd_rd_wg=NBAGl&amp;pd_rd_r=de79bec9-b08e-4ca3-88d6-de6ae99a7e52&amp;ref_=pd_gwm_unk"><img
          alt="Essentials" src="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg"
          class="_feature-shortcut-gwm-card_style_iconImage__2uXiF _feature-shortcut-gwm-card_style_iconLifeStyleImage__36Sf7"
          data-a-hires="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg">
        <p class="_feature-shortcut-gwm-card_style_iconTitle__3Ptur">Essentials</p>
      </a>
      </div>
    </div>
    <div class="icon-container">
      <div class="icon-inner-container">
        <a class="a-link-normal"
        href="/fmc/everyday-essentials&amp;ref_=in_cat_halo_mweb_bau_essentials/?_encoding=UTF8&amp;pd_rd_w=8A6yM&amp;content-id=amzn1.sym.ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_p=ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_r=DZECDNN5PCRQYJS4E61S&amp;pd_rd_wg=NBAGl&amp;pd_rd_r=de79bec9-b08e-4ca3-88d6-de6ae99a7e52&amp;ref_=pd_gwm_unk"><img
          alt="Essentials" src="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg"
          class="_feature-shortcut-gwm-card_style_iconImage__2uXiF _feature-shortcut-gwm-card_style_iconLifeStyleImage__36Sf7"
          data-a-hires="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg">
        <p class="_feature-shortcut-gwm-card_style_iconTitle__3Ptur">Essentials</p>
      </a>
      </div>
    </div>
    <div class="icon-container">
      <div class="icon-inner-container">
        <a class="a-link-normal"
        href="/fmc/everyday-essentials&amp;ref_=in_cat_halo_mweb_bau_essentials/?_encoding=UTF8&amp;pd_rd_w=8A6yM&amp;content-id=amzn1.sym.ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_p=ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_r=DZECDNN5PCRQYJS4E61S&amp;pd_rd_wg=NBAGl&amp;pd_rd_r=de79bec9-b08e-4ca3-88d6-de6ae99a7e52&amp;ref_=pd_gwm_unk"><img
          alt="Essentials" src="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg"
          class="_feature-shortcut-gwm-card_style_iconImage__2uXiF _feature-shortcut-gwm-card_style_iconLifeStyleImage__36Sf7"
          data-a-hires="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg">
        <p class="_feature-shortcut-gwm-card_style_iconTitle__3Ptur">Essentials</p>
      </a>
      </div>
    </div>
    <div class="icon-container">
      <div class="icon-inner-container">
        <a class="a-link-normal"
        href="/fmc/everyday-essentials&amp;ref_=in_cat_halo_mweb_bau_essentials/?_encoding=UTF8&amp;pd_rd_w=8A6yM&amp;content-id=amzn1.sym.ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_p=ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_r=DZECDNN5PCRQYJS4E61S&amp;pd_rd_wg=NBAGl&amp;pd_rd_r=de79bec9-b08e-4ca3-88d6-de6ae99a7e52&amp;ref_=pd_gwm_unk"><img
          alt="Essentials" src="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg"
          class="_feature-shortcut-gwm-card_style_iconImage__2uXiF _feature-shortcut-gwm-card_style_iconLifeStyleImage__36Sf7"
          data-a-hires="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg">
        <p class="_feature-shortcut-gwm-card_style_iconTitle__3Ptur">Essentials</p>
      </a>
      </div>
    </div>
    <div class="icon-container">
      <div class="icon-inner-container">
        <a class="a-link-normal"
        href="/fmc/everyday-essentials&amp;ref_=in_cat_halo_mweb_bau_essentials/?_encoding=UTF8&amp;pd_rd_w=8A6yM&amp;content-id=amzn1.sym.ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_p=ec4d6fa9-e765-4951-8a5d-db9354edc5ee&amp;pf_rd_r=DZECDNN5PCRQYJS4E61S&amp;pd_rd_wg=NBAGl&amp;pd_rd_r=de79bec9-b08e-4ca3-88d6-de6ae99a7e52&amp;ref_=pd_gwm_unk"><img
          alt="Essentials" src="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg"
          class="_feature-shortcut-gwm-card_style_iconImage__2uXiF _feature-shortcut-gwm-card_style_iconLifeStyleImage__36Sf7"
          data-a-hires="https://m.media-amazon.com/images/I/11Y884YgKnL._SX100_SY100_.jpg">
        <p class="_feature-shortcut-gwm-card_style_iconTitle__3Ptur">Essentials</p>
      </a>
      </div>
    </div>
    
  </div>
</div> -->

<!-- <div class="container-fluid mt-2">
  <div class="slider-wrapper" (scroll)="onScroll($event)">
    <div class="slider-container d-flex justify-content-evenly align-items-center">
      <div class="icon-container" *ngFor="let image of images; let i = index"
        [ngClass]="{ 'center-card': i === centerIndex }">
        <div class="icon-inner-container card p-2">
          <a class="a-link-normal text-decoration-none fw-bold" [href]="image.src">
            <img alt="Essentials" [src]="image.src"
              class="_feature-shortcut-gwm-card_style_iconImage__2uXiF _feature-shortcut-gwm-card_style_iconLifeStyleImage__36Sf7">
            <p class="_feature-shortcut-gwm-card_style_iconTitle__3Ptur ">{{image.content}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <img src="/assets/Images/" alt=""> -->



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

   ID Column -->
    <!-- <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container> -->

    <!-- Progress Column -->
    <!-- <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container> -->

    <!-- Color Column -->
    <!-- <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
    </ng-container> -->

    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table> -->
<!-- 
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div> --> 
